@import url(../base/_extends.scss);
@import url(../base/_variables.scss);
@import url(../base/_variables.scss);
@import url(../base/_extends.scss);
@import url(../base/_extends.scss);
@import url(../base/_variables.scss);
@import url(../base/_extends.scss);
@import url(../base/_variables.scss);
body section .form__design {
  background-color: #262525;
  color: white;
}

body section .form__design input {
  background-color: #262525;
  border: none;
  border-bottom: solid 1px white;
  border-radius: 0px;
  font-weight: bold;
}

body section .form__design input:focus {
  background-color: #262525;
  color: white;
}

body section .form__design textarea, body section .form__design option {
  background-color: #262525;
  color: white;
}

body section .form__design #btn__form {
  border: 1px solid white;
  border-radius: 0px;
  background-color: #262525;
  color: white;
}

body section .form__design #btn__form:hover {
  border: 1px solid white;
  background-color: white;
  color: #262525;
  -webkit-transition: 1s;
  transition: 1s;
}

@media (max-width: 575.98px) {
  .media__esp {
    text-align: center;
  }
  .resp__esp img {
    display: none;
  }
}

@media (max-width: 1200px) {
  .resp__esp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

section .imgFilter {
  border-radius: 30px;
}

section .imgFilter:hover {
  -webkit-filter: sepia(60%);
          filter: sepia(60%);
}

section .hr__esp {
  width: 400px;
  height: 10px;
  color: #350435;
  opacity: 100;
  margin-top: 30px;
  margin-left: 20px;
}

section .font__style {
  font-size: 18px;
}

@media (max-width: 575.98px) {
  aside img {
    display: none;
  }
}

@media (max-width: 1200px) {
  aside img {
    size: 75%;
  }
}

section .materia__style:hover {
  color: gold;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0.8;
}

section .accordion-button:focus {
  background-color: #3e3e3e;
  color: white;
  -webkit-box-shadow: none;
          box-shadow: none;
  box-shadow: none;
}

section .accordion-button {
  border: none;
  background-color: grey;
  color: white;
}

@media (max-width: 1200px) {
  #envolver {
    display: none;
  }
}

section .hr__nos {
  width: 150px;
  height: 8px;
  color: #350435;
  opacity: 100;
}

section #envolver {
  float: right;
  border-radius: 50px;
}

section .nos__text {
  text-align: justify;
}

@media (max-width: 575.98px) {
  .footer__0 {
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 30px;
  }
  .footer__1 {
    text-align: center;
  }
  .footer__2 {
    margin-bottom: 30px;
    margin-top: 30px;
  }
}

@media (max-width: 1200px) {
  .footer__1 {
    font-size: 14px;
  }
}

footer .footer {
  background-color: #262525;
}

footer .footer .list_1 li {
  color: white;
  font-family: 'Parisienne', cursive;
  font-size: 32px;
}

footer .footer .list_2 {
  color: white;
}

footer .redes #iconos:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

footer .redes .wp:hover {
  background-color: #27d741;
}

footer .redes .ig:hover {
  color: #c51a7b;
}

footer .redes .mail:hover {
  color: blue;
}

footer .redes .rotate_1 {
  display: block;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

footer .redes .rotate_1:hover {
  -webkit-transform: rotate(360deg) translateZ(0);
          transform: rotate(360deg) translateZ(0);
}

footer .copy {
  background-color: #262525;
  padding: 5px 0px;
  color: whitesmoke;
}

body, html, div, blockquote, img, label, p, h2, h3, h4, h5, h6, pre, ul,
ol, li, dl, dt, dd, form, a, fieldset, input, th, td, footer {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  list-style: none;
}

html {
  overflow-x: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::after ::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 575.98px) {
  main .h1__resp {
    font-size: 23px;
  }
  main .somos {
    font-size: 21px;
  }
}

@media (max-width: 1200px) {
  main .logo {
    display: none;
  }
  main .h1__resp {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  section div #card__resp {
    margin-top: 30px;
  }
  article .contactUs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  article .btn__resp {
    margin: 40px 0px;
  }
  article .cont__text {
    margin-bottom: 20px;
  }
  article .contImg__resp {
    margin-bottom: 20px;
  }
}

body {
  position: relative;
}

nav #nav_hover:hover {
  border-bottom: 1px solid #350435;
  color: burlywood;
}

nav #navCald {
  color: #262525;
}

nav #navCald:hover {
  color: burlywood;
}

main .metro {
  width: 100%;
  position: relative;
}

main .metro img {
  width: 100%;
}

main .logo {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

main .h1 {
  background-color: #262525;
}

main .h1 h1 {
  color: white;
  text-align: center;
}

section .somos {
  font-size: 35px;
}

section .somos_text {
  text-align: justify;
}

section .cards__style:hover {
  -webkit-box-shadow: 1px 1px 10px 2px;
          box-shadow: 1px 1px 10px 2px;
}

section div .card__cont:hover .card__img {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

section div .card__cont {
  overflow: hidden;
}

section .hr__noticias {
  width: 150px;
  height: 8px;
  color: #350435;
  opacity: 100;
}

article #contactBtn {
  background-color: #810981;
  border: none;
  color: white;
  font-weight: bold;
}

article #contactBtn:hover {
  background-color: #c60ec6;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: white;
}

article .contactUs {
  background-color: #262525;
}

article .contactText {
  color: white;
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
}

article .contactHr {
  height: 3px;
  background-color: burlywood;
  width: 150px;
}

aside .hr__act {
  width: 150px;
  height: 8px;
  color: #350435;
  opacity: 100;
}

aside .carouselShadow {
  -webkit-box-shadow: 1px 1px 5px 2px;
          box-shadow: 1px 1px 5px 2px;
}

aside .btn__carousel {
  background-color: #262525;
  color: #262525;
}
/*# sourceMappingURL=style.css.map */