@import "./base/extends";
@import "./base/variables";
// SECTIONS
@import "./sections/contact";
@import "./sections/especialidades";
@import "./sections/faqs";
@import "./sections/nosotros";
@import "./sections/footer";


//RESET CSS
body, html, div, blockquote, img, label, p, h1, h2, h3, h4, h5, h6, pre, ul,
ol, li, dl, dt, dd, form, a, fieldset, input, th, td, footer {
    margin: 0; 
    padding: 0; 
    border: 0; 
    outline: none;
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
font-size: 100%;
}
html{
    overflow-x: hidden;
    box-sizing: border-box;
}

::after ::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

// RESPONSIVE
@media (max-width: 1200px){
    main{
        .logo{
            display: none;
        }
    
        .h1__resp{
            padding-top: 0px;
            padding-bottom: 0px;
        }

    }
    section{
        div{
            #card__resp{
                margin-top: 30px;
            }
        }
        
    }
    article{
        .contactUs{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .btn__resp{
            margin: 40px 0px;
        }
        .cont__text{
            margin-bottom: 20px;
        }
        .contImg__resp{
            margin-bottom: 20px;
        }
        
    }
}



body{
	position:relative;
}



// NAV-BAR
nav{ 
        #nav_hover:hover{
            border-bottom: 1px solid $violet_dark;
            color: burlywood;
        }
        #navCald{
            color: $grey_topo;
        }
        #navCald:hover{
            color: burlywood;
        }

}


// MAIN
main{
    .metro{
        width: 100%;
        position: relative;
        img{
            width: 100%;
        }
    }
    .logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .h1{
        background-color: $grey_topo;
            h1{
                color:white;
                text-align: center;
                
            }
    }
}


// SECTION
section{
    hr{
        @extend%hr_style;
    }    
    .somos{
        font-size: 35px;
    }
    .somos_text{
        text-align: justify;
            
    }
    .cards__style:hover{
        box-shadow: 1px 1px 10px 2px;
    }

    div{
        .card__cont:hover .card__img {
            -webkit-transform:scale(1.2);transform:scale(1.2);
        }
        .card__cont {
            overflow:hidden;
        }
    }
        
}

// ACTICLE
article{
    #contactBtn{
        background-color: rgb(129, 9, 129);
        border: none;
        color: white;
        font-weight: bold;
    }
    #contactBtn:hover{
        background-color: rgb(198, 14, 198);
        transition: 0.5s;
        color: white;
    }

    .contactUs{
        background-color: $grey_topo;
    }
    .contactText{
        color: white;
        font-size: 20px;
        font-style: italic;
        font-weight: bold;
    }
    .contactHr{
        height: 3px;
        background-color: burlywood;
        width: 150px;
    }
}
aside{
    .hr_aside{
        @extend%hr_style;
    }
    .carouselShadow{
        box-shadow: 1px 1px 5px 2px;
    }
    .btn__carousel{
        background-color: $grey_topo;
        color: $grey_topo;
    }
}