@import "../base/variables";


body{
     section{
        .form__design{
            background-color: $grey_topo;
            color: white;
                input{ 
                    background-color: $grey_topo;
                    border:none;
                    border-bottom: solid 1px white;
                    border-radius: 0px;
                    font-weight: bold;
                }
                input:focus{
                    background-color: $grey_topo;
                    color:white;
                }
                textarea, option{
                    background-color: $grey_topo;
                    color:white;
                }
                #btn__form{
                    border: 1px solid white;
                    border-radius: 0px;
                    background-color: $grey_topo;
                    color:white;
                }
                #btn__form:hover{
                    border: 1px solid white;
                    background-color:white ;
                    color:$grey_topo;
                    transition: 1s;
                }

        }
    }
}

