@import url(../base/_variables.scss);
@import url(../base/_extends.scss);

// RESPONSIVE

@media (max-width: 575.98px){
    aside{
        img{
            display: none;
        }
    }
}
@media (max-width: 1200px){
    aside{
        img{
            size: 75%;
        }
    }
}


section{
    .materia__style:hover{
        color: gold;
        transition: 0.5s;
        opacity: 0.8;

    }
    .accordion-button:focus{
        background-color: rgb(62, 62, 62);
        color: white;
        box-shadow: none;
        box-shadow: none;
    }
    .accordion-button{
        border: none;
        background-color: grey;
        color: white;
    }
}

