@import url(../base/_extends.scss);
@import url(../base/_variables.scss);

@media (max-width: 575.98px){
    .footer__0{
        text-align: center;
        justify-content: center;
        margin-top: 30px;
    }
    .footer__1{
        text-align: center;
    }
    .footer__2{
        margin-bottom: 30px;
        margin-top: 30px;
    }
}
@media (max-width: 1200px){
    .footer__1{
        font-size: 14px;
    }
}




footer{
    .footer{
        background-color: $grey_topo;
    
            .list_1 li{
                color: white;
                font-family: 'Parisienne', cursive;
                font-size: 32px;
            }
            .list_2{
                color:white;
            }
    }
    .redes{
        
        #iconos:hover{
            transform: rotate(360deg);
        }
        .wp:hover{
            background-color:rgb(39, 215, 65);
        }
        .ig:hover{
            color: rgb(197, 26, 123);
        }
        .mail:hover{
            color: blue;
        }
        .rotate_1{
            display: block;
            transition: transform 1s;
        }
        .rotate_1:hover{
            transform: rotate(360deg) translateZ(0);

        }
    }
    .copy{
        background-color: $grey_topo;
        padding: 5px 0px;
        color: whitesmoke;
    }        
}